html, body {
    margin: 0;
    height: 100%;
}

body * {
    border: 1px solid red;
}

/* Game Container */
.flex-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

/* Container for Player, Game, Computer Blocks */

.player, .game, .computer {
    display: grid;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

.player__score, .computer__score, .game__round {
    align-self: start;
}

.game__round, .game__result, .player__score, .computer__score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__round-number, .player__score-number, .computer__score-number {
    margin-left: 5px;
}

.player__choice, .computer__choice {
    display: flex;
    flex-direction: column; 
}

.player__choice-selection, .computer__choice-selection {
    justify-self: center;
    align-self: center;
    margin-top: 4rem;
}

.rock, .scissors, .paper {
    display: flex;
    justify-content: center;
    align-items: center;
}