html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
    font-weight: 600;
}

/* body * {
    border: 1px solid red;
} */

/* Game Container */
.flex-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: minmax(250px, auto);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%
}

.player__score, .game__round, .computer__score {
    gap: 5%
}


.player__choice, .computer__choice {
    flex-direction: column;
}

.rock__button, .paper__button, .scissors__button {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 1px solid black;
    border-radius: 300px;
    box-shadow: 10px 5px;
}

.rock__button:hover, .paper__button:hover, .scissors__button:hover {
    color: lightgray;
}

.game__result-text {
    font-size: 2rem;
    font-weight: 900;
}

.rock__button {
    background-image: url("img/rock.svg");
}

.paper__button {
    background-image: url("img/paper.svg");
}

.scissors__button {
    background-image: url("img/scissors.svg");
}